<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}
</head>

<body class="bg-white text-gray-900 antialiased">
  <div class="min-h-screen max-w-3xl mx-auto px-4 py-8 md:py-16">
    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>

  <script src="{{ "js/main.js" | relURL }}"></script>
</body>

</html>
